@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --bgcolor: #f1f5fd;
  --primary-color: #6f5de7;
  --text-color: #828286;
  --main-text-color: #333333;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
  color: #fff;
}

h1,h2,h3,h4,h5,h6 {
  color:#333333;
}



/***********************************ERROR PAGE CSS*********************************/
#notfound {
  position: relative;
  height: 100vh;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.notfound {
  max-width: 920px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}

.notfound .notfound-404 {
  position: absolute;
  height: 100px;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: -1;
}

.notfound .notfound-404 h1 {
  font-family: "Maven Pro", sans-serif;
  color: #ececec;
  font-weight: 900;
  font-size: 276px;
  margin: 0px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.notfound h2 {
  font-family: "Maven Pro", sans-serif;
  font-size: 46px;
  color: #000;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0px;
}

.notfound p {
  font-size: 16px;
  color: #000;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 15px;
}

.notfound a {
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  background: #189cf0;
  display: inline-block;
  padding: 16px 38px;
  border: 2px solid transparent;
  border-radius: 40px;
  color: #fff;
  font-weight: 400;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.notfound a:hover {
  background-color: #fff;
  border-color: #189cf0;
  color: #189cf0;
}

@media only screen and (max-width: 480px) {
  .notfound .notfound-404 h1 {
    font-size: 162px;
  }
  .notfound h2 {
    font-size: 26px;
  }
}

/* --------------------------------- responsive media queries-----------------.*/  

 @media (min-width: 1500px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
   max-width: 1500px !important;
             }
              }
                        
@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
   max-width: 1400px;
                          }

  /* .service-container .col-xxl-4{
    flex:0 0 auto;
    width:50% !important;
    margin: auto;
  } */
        
                        }

/* //for mobile devices */
@media(max-width:998px){
  .navbar .navbar-collapse{
    margin-top:1rem;
    margin-right: 1rem;
    background-color:rgb(241, 235, 235);
    padding: 2rem 1rem;
  }

  .input-group .btn-style{
    font-size: 1.2rem;
  }

  .input-group-button,.learn{
    width: 25%!important;
  }

  .form-check-label {
    margin-left: 2rem!important;
}
.social{
  /* margin-right: -4rem!important; */
  padding-right: 4rem!important;
}
.social .logo-style{
  font-size:2rem!important;
}
.leftside-img img{
  height:90%!important;
  width:90%!important;
  /* margin: 2rem 1rem; */
  margin-top: 1rem!important;
}
.contact-img{
  margin:auto!important;
}
.contact-para{
  margin: auto!important;
  margin-bottom: 1rem!important;
}

.contact-heading{
  margin-left: 1.8rem!important;
}
.work-service-container-subdiv{
  padding:1rem 1rem!important;
  height:23rem!important;
  width:32rem!important;
  margin-left:2rem!important;
}

form .contact-input-field{
  width: 90% !important;
  margin-left:1.5rem!important;
}

.footer a{
  /* height:100% !important; */
  font-size:1.2rem !important;
}

.footer ul{
  margin-top: -1.2rem !important;
}

.footer ul li{
 margin-top:-1rem !important;
}

.social .logo-style {
  /* width: 5rem!important;
  height: 5rem!important; */
  font-size: 2.5rem !important;
  /* /* border-radius: 50%; */
  background-color: #182334!important; 
  /* place-items: center; */
  /* display: grid;
  align-items: center; */
  /* margin: 1rem 0rem!important; */
  margin-right: 2rem !important;
}

.fend{
 height: 2rem;
 width:100%;
 display:flex;
 justify-content: center;
 align-items: center;
}
.f-para{
  margin-left: -0.8rem!important;
  padding-bottom:3rem!important;
}

.left-header .main-hero-para{
 margin-left:3.5rem!important;
 font-size:1.1rem!important;
}

.left-header input{
  width: 30rem !important;
  /* border: 1px solid black; */
  /* padding-bottom: 3rem!important; */
}

.left-header .input-group-button{
  right: 14%!important;
}

.right-header img{
  margin-top:3rem!important
}

}
